<h1>Listing posts</h1>
 
<table style="width: 500px; text-align: left; border-bottom: 1px dotted #777">
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>Body</th>
  </tr>
 
  <%= render @posts %>

</table>